body {
	background-color:black;
	margin-left:100px;
	color:white;
	font-family: 'Open Sans', sans-serif;
	margin-top: 50px;
}

a{
	background-color: white;
	color:black;
}

span{
	background-color: white;
	color:black;
	font-size: 50px;
}
img{
	position: fixed;
	right: 0px;
}
span.qqqq{
background-color: white;
}
#0c1122