body {
	background-color:#0c1122;
	margin-left:100px;
	color:white;
	font-family: 'Open Sans', sans-serif;
	margin-top: 50px;
}

a{
	background-color: #bc869e;
	color:white;
}

span{
	background-color: #bc869e;
	color:white;
	font-size: 50px;
}
img{
	position: fixed;
	right: 0px;
}