.version.click_pink_big /* version checker */
{
	color: #0000E7;
	background-color: #031B22;
}

@-ms-viewport
{
	width: 414px;
}

@-webkit-viewport
{
	width: 414px;
}

@-o-viewport
{
	width: 414px;
}

@-moz-viewport
{
	width: 414px;
}

@viewport
{
	width: 414px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 414px;
	min-height: 665px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u250
{
	z-index: 2;
	width: 414px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u262
{
	z-index: 4;
	width: 49px;
	height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 566px;
	left: 92px;
}

#u288
{
	z-index: 5;
	width: 64px;
	height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 561px;
	left: 253px;
}

.ie #u262,.ie #u288
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 414px;
}

