.version.meteor_shower /* version checker */
{
	color: #00000B;
	background-color: #F17B55;
}

@-ms-viewport
{
	width: 414px;
}

@-webkit-viewport
{
	width: 414px;
}

@-o-viewport
{
	width: 414px;
}

@-moz-viewport
{
	width: 414px;
}

@viewport
{
	width: 414px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 414px;
	min-height: 664.7727272727275px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	width: 0.01px;
}

#u390
{
	z-index: 2;
	width: 414px;
	background-color: transparent;
	position: relative;
}

body
{
	position: relative;
	min-width: 414px;
}

