.version.name_date /* version checker */
{
	color: #0000F5;
	background-color: #77D87A;
}

@-ms-viewport
{
	width: 414px;
}

@-webkit-viewport
{
	width: 414px;
}

@-o-viewport
{
	width: 414px;
}

@-moz-viewport
{
	width: 414px;
}

@viewport
{
	width: 414px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 414px;
	min-height: 665px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #141211;
}

#u166
{
	z-index: 2;
	width: 414px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u187
{
	z-index: 4;
	width: 151px;
	height: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 213px;
	left: 212px;
}

#u194
{
	z-index: 5;
	width: 252px;
	height: 71px;
	position: relative;
	margin-right: -10000px;
}

#u370
{
	z-index: 6;
	width: 111px;
	height: 63px;
	position: relative;
	margin-right: -10000px;
	margin-top: 625px;
	left: 148px;
}

.ie #u187,.ie #u194,.ie #u370
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 414px;
}

