.version.pink_mark_little /* version checker */
{
	color: #0000FE;
	background-color: #FB9DEC;
}

@-ms-viewport
{
	width: 414px;
}

@-webkit-viewport
{
	width: 414px;
}

@-o-viewport
{
	width: 414px;
}

@-moz-viewport
{
	width: 414px;
}

@viewport
{
	width: 414px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 414px;
	min-height: 665px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #000000;
}

#page_position_content
{
	width: 0.01px;
}

#u226
{
	z-index: 2;
	width: 414px;
	background-color: transparent;
	position: relative;
}

body
{
	position: relative;
	min-width: 414px;
}

