.version.reminder /* version checker */
{
	color: #0000E9;
	background-color: #8CF83A;
}

@-ms-viewport
{
	width: 414px;
}

@-webkit-viewport
{
	width: 414px;
}

@-o-viewport
{
	width: 414px;
}

@-moz-viewport
{
	width: 414px;
}

@viewport
{
	width: 414px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 414px;
	min-height: 665px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u326
{
	z-index: 2;
	width: 415px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u344
{
	z-index: 4;
	width: 114px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 488px;
	left: 149px;
}

#u345
{
	z-index: 5;
	width: 162px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 527px;
	left: 125px;
}

.ie #u344,.ie #u345
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 414px;
}

