



body{
	font-family: 'Open Sans', sans-serif;
	margin-top: 13%
}
.fixed{
	top: 2%;
	position: fixed;
	right: 8%;
	font-size:2em;
    background-color:white;
    line-height: 20px;
}
.fixed:hover{
	text-shadow: 2px 2px 0 pink,-1px -1px 0 pink
}

.fixed2{
	margin-left: 36%;
	padding:10px;
	position:fixed;
	font-size: 18px;
}

.previous{
	text-decoration: none;
	color: black;
	font-size: 20px;
	background-color: white;

}

.previous:hover{
	font-size: 20px;
	transition-duration: 0.2s;
    background-color: black;
    color:white;
}

a{
	text-decoration:none;
	color:black;
}
.information{
	position: fixed;
	bottom: 3%;
	left: 22%;
}
.information2{
	position: fixed;
	bottom: 3%;
	left: 48%;
}
.information3{
	position: fixed;
	bottom: 3%;
	left: 76%;
}