body{
	margin:150px;
	border: solid;
	border-width: 80px;
	border-color: yellow;
	padding: 40px;
	font-family: 'Lobster', cursive;
	font-size: 30px;
	text-align: center;
	background-color: red
}

div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 0px solid #73AD21;
    background-color:blue; 
    color: white
}

div.fixed:hover {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 400px;
    border: 0px solid #73AD21;
    background-color:blue; 
    color: red;
    font-size:80px;
}

div.fixed2 {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    border: 0px solid;
    background-color:blue; 
    color: white

}

div.fixed2:hover {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    border: 0px solid;
    background-color:blue; 
    color: red;
    font-size:80px;
    
}

div.fixed3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    border: 0px solid;
    background-color:blue; 
    color: white
}
div.fixed3:hover {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    border: 0px solid;
    background-color:blue; 
    color: red;
    font-size:80px;
}

div.fixed4 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 300px;
    border: 0px solid;
    background-color:blue; 
    color: white
}

div.fixed4:hover {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 300px;
    border: 0px solid;
    background-color:blue; 
    color: red;
    font-size:80px;
}


div.fixed5 {
    position: fixed;
    bottom: 400px;
    left: 0;
    width: 300px;
    border: 0px solid;
    background-color:blue; 
    color: white
}


div.fixed5:hover {
    position: fixed;
    bottom: 400px;
    left: 0;
    width: 300px;
    border: 0px solid;
    background-color:blue; 
    color: red;
    font-size:80px;
}

div.fixed6 {
    position: fixed;
    bottom: 400px;
    right: 0;
    width: 300px;
    border: 0px solid;
    background-color:blue; 
    color: white
}


div.fixed6:hover {
    position: fixed;
    bottom: 400px;
    right: 0;
    width: 300px;
    border: 0px solid;
    background-color:blue; 
    color: red;
    font-size:80px;
}

div.fixed7 {
    position: fixed;
    bottom: 0;
    left: 600px;
    width: 300px;
    border: 0px solid;
    background-color:blue; 
    color: white
}

div.fixed7:hover {
    position: fixed;
    bottom: 0;
    left: 600px;
    width: 300px;
    border: 0px solid;
    background-color:blue; 
    color: red;
    font-size:80px;
}

div.fixed8 {
    position: fixed;
    top: 0;
    left: 600px;
    width: 300px;
    border: 0px solid;
    background-color:blue; 
    color: white
}

div.fixed8:hover {
    position: fixed;
    top: 0;
    left: 600px;
    width: 300px;
    border: 0px solid;
    background-color:blue; 
    color: red;
    font-size:80px;
}


p{color: white;}
p.first{
	font-size: 60px;
}

p.first:hover{
	font-size: 100px;
	background-color:lightgreen;
	color:red;
}
p.second{
	font-size: 40px;
}
p.second:hover{
	font-size: 60px;
	background-color:lightgreen;
	color:red;
}
div {
    transition-duration: 0.3s;
}
div.fixed111{
    position: fixed;
    top: 50%;
    left: 0;
    width: 35px;
    border: 0px solid;
    background-color:#808080; 
    color: white;
    text-decoration: none;
    font-size: 35px;
    opacity: 0.8; 
}
div.fixed111:hover{
    position: fixed;
    top: 50%;
    left: 0;
    width: 40px;
    border: 0px solid;
    background-color:#4d4d4d; 
    color: white;
    text-decoration: none;
    opacity: 0.8;
}


div.fixed222{
    position: fixed;
    top: 50%;
    right: 0;
    width: 35px;
    border: 0px solid;
    background-color:#808080; 
    color: white;
    text-decoration: none;
    font-size: 35px;
    opacity: 0.8;
}

div.fixed222:hover{
    position: fixed;
    top: 50%;
    right: 0;
    width: 40px;
    border: 0px solid;
    background-color:#4d4d4d; 
    color: white;
    text-decoration: none;
    filter:none;
}

a { 
color:white; 
text-decoration:none; 
}

a[title]:hover:after{
    content: attr(title);
    position:absolute;
    background-color: #4d4d4d;
    font-size: 20px;
}

a.next[title]:hover:after{
    right: 50px;
}

a.previous[title]:hover:after{
    left: 50px;
}
a.home{
    color:white;}

div.home{
    position: fixed;
    top: 0%;
    left: 0;
    width: 50px;
    border: 0px solid;
    background-color:none; 
    color: #4d4d4d;
    text-decoration: none;
    font-size: 35px;
    opacity: 0.8}

    div.home:hover{
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    border: 0px solid;
    background-color:none; 
    color: #4d4d4d;
    text-decoration: none;
    font-size: 45px}

    a.home[title]:hover:after{
        top: 15px;
    left: 50px;
    color: white;
    font-size: 20px;
}