body{
	margin-bottom: 100px;
	margin-top: 100px;
	margin-left: 300px;
	margin-right: 300px;
}

div {
    transition-duration: 0.3s;
}
div.fixed{
    position: fixed;
    top: 50%;
    left: 0;
    width: 35px;
    border: 0px solid;
    background-color:#808080; 
    color: white;
    text-decoration: none;
    font-size: 35px;
    opacity: 0.8; 
}
div.fixed:hover{
    position: fixed;
    top: 50%;
    left: 0;
    width: 40px;
    border: 0px solid;
    background-color:#4d4d4d; 
    color: white;
    text-decoration: none;
    opacity: 0.8;
}


div.fixed2{
    position: fixed;
    top: 50%;
    right: 0;
    width: 35px;
    border: 0px solid;
    background-color:#808080; 
    color: white;
    text-decoration: none;
    font-size: 35px;
    opacity: 0.8;
}

div.fixed2:hover{
    position: fixed;
    top: 50%;
    right: 0;
    width: 40px;
    border: 0px solid;
    background-color:#4d4d4d; 
    color: white;
    text-decoration: none;
    filter:none;
}

a { 
color:black; 
text-decoration:underline; 
}

a[title]:hover:after{
	content: attr(title);
	position:absolute;
	background-color: #4d4d4d;
	font-size: 20px;
    color:white;
}

a.next[title]:hover:after{
	right: 50px;
}

a.previous[title]:hover:after{
	left: 50px;
}
a.home{
	color:black;
text-decoration: none;}

div.home{
    position: fixed;
    top: 0%;
    left: 0;
    width: 50px;
    border: 0px solid;
    background-color:none; 
    color: #4d4d4d;
    text-decoration: none;
    font-size: 35px;
    opacity: 0.8}

    div.home:hover{
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    border: 0px solid;
    background-color:none; 
    color: #4d4d4d;
    text-decoration: none;
    font-size: 45px}

    a.home[title]:hover:after{
    	top: 15px;
	left: 50px;
	color: white;
	font-size: 20px;
}

a.previous{text-decoration: none;}
a.next{text-decoration: none;}

div.author{
    text-decoration: none;
}