body{
	font-family: 'Open Sans', sans-serif;
	margin-top:100px;
	margin-left: 550px;
	margin-right: auto;
	background-color: #D3C494;
	letter-spacing: -5.5px;
}

div.first  {
	text-decoration: none;
	display: inline-block;
	margin: 5px;
	padding: 10px;
	vertical-align: top;
	width: 220px;
	height:30px;
	background-color: #8B735A;
	font-size: 20px;
}

div.first:hover{
	text-decoration: none;
	display: inline-block;
	margin: 5px;
	padding: 10px;
	vertical-align: top;
	width: 500px;
	height:30px;
	background-color: black;
	font-size: 20px;
	color: white;
	letter-spacing: 0px;
}

div.second  {
	text-decoration: none;
	display: inline-block;
	margin: 5px;
	padding: 10px;
	vertical-align: top;
	width: 180px;
	height:30px;
	background-color: #A7A7A7;
	font-size: 20px;
}

div.second:hover{
	text-decoration: none;
	display: inline-block;
	margin: 5px;
	padding: 10px;
	vertical-align: top;
	width: 600px;
	height:30px;
	background-color: black;
	font-size: 20px;
	letter-spacing: 0px;
	color: white;
}

div.third  {
	text-decoration: none;
	display: inline-block;
	margin: 5px;
	padding: 10px;
	vertical-align: top;
	width: 200px;
	height:30px;
	background-color: #D5FFC3;
	font-size: 20px;
}

div.third:hover{
	text-decoration: none;
	display: inline-block;
	margin: 5px;
	padding: 10px;
	vertical-align: top;
	width: 500px;
	height:30px;
	background-color: black;
	font-size: 20px;
	letter-spacing: 0px;
	color: white;
}

div.forth  {
	text-decoration: none;
	display: inline-block;
	margin: 5px;
	padding: 10px;
	vertical-align: top;
	width: 200px;
	height:30px;
	background-color: #D5FFC3;
	font-size: 20px;
}

div.forth:hover{
	text-decoration: none;
	display: inline-block;
	margin: 5px;
	padding: 10px;
	vertical-align: top;
	width: 500px;
	height:30px;
	background-color: black;
	font-size: 20px;
	letter-spacing: 0px;
	color: white;
}

div.fifth  {
	text-decoration: none;
	display: inline-block;
	margin: 5px;
	padding: 10px;
	vertical-align: top;
	width: 200px;
	height:30px;
	background-color: #D5FFC3;
	font-size: 20px;
}

div.fifth:hover{
	text-decoration: none;
	display: inline-block;
	margin: 5px;
	padding: 10px;
	vertical-align: top;
	width: 500px;
	height:30px;
	background-color: black;
	font-size: 20px;
	letter-spacing: 0px;
	color: white;
}

div.six  {
	text-decoration: none;
	display: inline-block;
	margin: 5px;
	padding: 10px;
	vertical-align: top;
	width: 200px;
	height:30px;
	background-color: #D5FFC3;
	font-size: 20px;
}

div.six:hover{
	text-decoration: none;
	display: inline-block;
	margin: 5px;
	padding: 10px;
	vertical-align: top;
	width: 500px;
	height:30px;
	background-color: black;
	font-size: 20px;
	letter-spacing: 0px;
	color: white;
}

div {
    -webkit-transition-duration: 2s; 
    transition-duration: 2s;
}

div.fixed{
    position: fixed;
    top: 50%;
    left: 0;
    width: 35px;
    border: 0px solid;
    background-color:#808080; 
    color: white;
    text-decoration: none;
    font-size: 35px;
    opacity: 0.8; 
    letter-spacing: 0px;
    transition-duration: 0.2s
}
div.fixed:hover{
    position: fixed;
    top: 50%;
    left: 0;
    width: 40px;
    border: 0px solid;
    background-color:#4d4d4d; 
    color: white;
    text-decoration: none;
    opacity: 0.8;
}


div.fixed2{
    position: fixed;
    top: 50%;
    right: 0;
    width: 35px;
    border: 0px solid;
    background-color:#808080; 
    color: white;
    text-decoration: none;
    font-size: 35px;
    opacity: 0.8;
    letter-spacing: 0px;
    transition-duration: 0.2s
}

div.fixed2:hover{
    position: fixed;
    top: 50%;
    right: 0;
    width: 40px;
    border: 0px solid;
    background-color:#4d4d4d; 
    color: white;
    text-decoration: none;
    filter:none;
}

a { 
color:white; 
text-decoration:none; 
letter-spacing: 0px;
}

a[title]:hover:after{
	content: attr(title);
	position:absolute;
	background-color: #4d4d4d;
	font-size: 20px;
}

a.next[title]:hover:after{
	right: 50px;
}

a.previous[title]:hover:after{
	left: 50px;
}
a.home{
	color:black}

div.home{
    position: fixed;
    top: 0%;
    left: 0;
    width: 50px;
    border: 0px solid;
    background-color:none; 
    color: #4d4d4d;
    text-decoration: none;
    font-size: 35px;
    opacity: 0.8}

    div.home:hover{
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    border: 0px solid;
    background-color:none; 
    color: #4d4d4d;
    text-decoration: none;
    font-size: 45px}

    a.home[title]:hover:after{
    	top: 15px;
	left: 50px;
	color: white;
	font-size: 20px;
}