body{
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 5%;
	margin-bottom: 10%;
	font-family: 'Open Sans', sans-serif;
	line-height: 23px;

}
ul
{
list-style-type:none;
margin:0;
padding:0;
}
li
{
display:inline;
}

a{
	color: #ffff99;
	background-color: #404040;
	text-decoration: none;
	font-size: 40px;
	position: fixed;

}

a.level1{
	color: #ffff99;
	left:33%;
}
a.level11{
	left:43%;
}
a.level12{
	left:48%;
}
a.level13{
	left:53%;
}a.level14{
	left:58%;
}a.level15{
	left:63%;
}

a.level2{
	color: #ffff99;
	left:33%;
}
a.level21{
	left:43%;
}
a.level22{
	left:48%;
}
a.level23{
	left:53%;
}a.level24{
	left:58%;
}a.level25{
	left:63%;
}
a:hover{
	background-color: #ffff99;
	transition-duration: 0.2s;
	font-size:46px;
	color: #404040
}

a.homepage{
	color:black;
background-color:white;}

div.homepage{
    position: fixed;
    top: 0%;
    left: 0;
    width: 50px;
    background-color:none; 
    color: #4d4d4d;
    text-decoration: none;
    font-size: 35px;
    opacity: 0.8}

    div.homepage:hover{
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    background-color:yellow; 
    color: #4d4d4d;
    text-decoration: none;
    font-size: 45px}

    a.homepage[title]:hover:after{
    	top: 15px;
	left: 50px;
	color: white;
	font-size: 60px;
}